<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        <form action="register" method="post">
            <label for="Email">Email ID:</label><br>
            <input type="text" id="email" name="email"><br>
            
             <label for="Service">Enter ur Mail Service Provider</label><br>
            <input type="text" id="service" name="service" placeholder="ex:gmail,outlook,yahoo"><br>

             <label for="EmailPass">Enter your Mail Password</label><br>
            <input type="text" id="emailpass" name="emailpass" placeholder="ex: vljz muik sbao qjwt"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>

            <label for="Cpassword">Confirm Password:</label><br>
            <input type="password" id="cpassword" name="cpassword"><br>

            <input type="submit" value="Submit">
          </form>
    </div>
  
</body>
   
</html>
